<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="andino">

  <xacro:property name="package_name" value="andino_description"/>
  <xacro:property name="robot_name" value="roundbot"/>

  <xacro:include filename="$(find ${package_name})/urdf/roundbot/common_macros.urdf.xacro" />
  <xacro:include filename="$(find ${package_name})/urdf/include/common_sensors.urdf.xacro" />
  <xacro:include filename="$(find ${package_name})/urdf/roundbot/caster_macro.urdf.xacro" />

  <xacro:arg name="yaml_config_dir" default="$(find ${package_name})/config/${robot_name}" />

  <xacro:property name="caster_yaml" value="$(arg yaml_config_dir)/caster.yaml" />
  <xacro:property name="caster_props" value="${xacro.load_yaml(caster_yaml)}"/>
  <xacro:arg name="use_fixed_caster" default="True"/>
  <xacro:arg name="use_real_ros_control" default="True"/>

  <xacro:property name="wheel_yaml" value="$(arg yaml_config_dir)/wheel.yaml" />
  <xacro:property name="wheel_props" value="${xacro.load_yaml(wheel_yaml)}"/>

  <xacro:property name="base_yaml" value="$(arg yaml_config_dir)/base.yaml" />
  <xacro:property name="base_props" value="${xacro.load_yaml(base_yaml)}"/>

  <xacro:property name="sensor_yaml" value="$(arg yaml_config_dir)/sensors.yaml" />
  <xacro:property name="sensor_prop" value="${xacro.load_yaml(sensor_yaml)}"/>

  <!-- Footprint link -->
  <xacro:footprint wheel_props="${wheel_props}" />

  <!-- Base link -->
  <xacro:base link_name="base_link"
              base_prop="${base_props}"
              mesh="${base_props['base']['mesh']}"
              scale="${base_props['base']['scale']}">
        <origin xyz="0 0 -0.045" rpy="0 0 0" />
  </xacro:base>

  <!-- Caster Wheel -->
  <xacro:caster prefix="front" reflect="1"
                use_fixed="$(arg use_fixed_caster)"
                caster_props="${caster_props}"
                scale="${caster_props['base']['scale']}">
    <origin xyz="0 0 0" rpy="0 0 0}" />
  </xacro:caster>

  <xacro:caster prefix="back" reflect="-1"
                      use_fixed="$(arg use_fixed_caster)"
                      caster_props="${caster_props}"
                      scale="${caster_props['base']['scale']}">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:caster>

  <!-- Wheels -->
  <xacro:wheel prefix="right" reflect="-1"
                      wheel_props="${wheel_props}"
                      base_props="${base_props}" >
  </xacro:wheel>

  <xacro:wheel prefix="left" reflect="1"
                      wheel_props="${wheel_props}"
                      base_props="${base_props}" >
  </xacro:wheel>

  <!-- Sensors -->
  <xacro:laser prefix="rplidar" parent_link="base_link"
                   sensor_prop="${sensor_prop}">
  </xacro:laser>

  <!--xacro:camera_sensor parent_link="base_link" sensor_prop="${sensor_prop}">
  </xacro:camera_sensor-->

  <!-- ros2_control -->
  <xacro:if value="$(arg use_real_ros_control)">
    <xacro:include filename="$(find ${package_name})/urdf/include/andino_control.urdf.xacro" />
  </xacro:if>


</robot>
